<section>
  <div class="container">
    <div class="row">

      <h2 class="section-title">About Us</h2>

      <p>
        The Integrative Medicine Gateway, <a href="http://www.imgateway.net"> www.IMgateway.net</a>, owned and developed
        by UnityHealth Pty Ltd is a unique information resource for health professionals. By collaboratively working with
        reputable and independent organisations, the IMgateway technology acts to disseminate quality information, research
        and education - to promote the integration of evidence-based complementary medicine with conventional medicine (ie.
        Integrative Medicine).
      </p>
      <p>
        Sigma recognise the need for our Amcal and Guardian Pharmacists and health professionals to have efficient access to current
        and credible evidence-based information. This is particularly so for complementary medicines (CM) in pharmacy. Customers
        seek out CM advice, yet resources available for pharmacy professionals can be cumbersome, dated or insufficient.
        All of which can create an undesirable customer perception. Therefore, in a world first, Sigma proudly partnered
        with UnityHealth to co-develop our very own comprehensive health and wellbeing platform, powered by the award winning
        IMgateway. Sigma’s platform is designed to deliver credibility, consistency, workflow efficiency, and to facilitate
        professional excellence in the customer experience of CM in our retail pharmacies. Sigma’s platform is called S.H.E.R.P.A.
        (Sigma Holistic Evidence References &amp; Patient Advice). A Sherpa is also a reliable and expert guide who identifies
        a safe path through less familiar territory. A Sherpa does the “heavy lifting” and makes it easier for the traveller
        too. Through S.H.E.R.P.A. Sigma’s retail pharmacies can take the leadership position in integrated medicines; confidently
        and safely delivering customer-centric professional advice. This reaffirms Sigma’s pursuit of excellence in our professional
        service-advice retail model, underpinned by our customer value proposition, and position as partner of choice for
        health, beauty and wellbeing.

      </p>
      <p>The following are the benefits available through S.H.E.R.P.A.: </p>
      <div style="clear:both;"></div>
      <div>
        <h2>1.Credible</h2>
        <div style="width:220px; text-align:center;float:left; margin-right: 5px;">
          <img src="/assets/img/about/aima_logo.png" alt="" />
        </div>
        <div class="about-desc">
          The Australasian Integrative Medicine Association (AIMA) has partnered with UnityHealth to promote the practice of evidence
          based integrative medicine for optimal patient outcomes. Read <a style="text-decoration:underline;" href="http://www.imgateway.net/brochure/AIMA-17.10.13.pdf"
            target="_blank">more</a>
        </div>
      </div>
      <div style="clear:both;"></div>

      <div>
        <div style="width:220px; text-align:center;float:left; margin-right: 5px;">
          <img src="/assets/img/about/mims-logo.png" alt="" />
        </div>
        <div class="about-desc">
          MIMS is proud to be a partner to IMgateway to deliver a unique drug-herb interactions database to healthcare professionals
          in Asia. Read <a style="text-decoration:underline;" href="http://connect.itherapeutics.com.au/p43033177/"
            target="_blank">more</a>
        </div>
      </div>

      <div style="clear:both;"></div>

      <h3>Medical editorial and advisory committee:</h3>
      <p>
        Our committee consists of eminent professionals
      </p>
      <ul>
        <li><strong>Dr Janney Wale</strong> (Pharmacologist, Post-Doctural experience in industry, university and research institutes)
        </li>
        <li><strong>Dr Lily Tomas</strong> (Past President Australasian Integrative Medicine Association)</li>
        <li><strong>Dr Ruth Edwards</strong> (Practicing Integrative General Practitioner for over 16 years)</li>
        <li><strong>Ms Tania Wells</strong> (Practicing Naturopath for over 15 years, Researcher, Senior Lecturer and Educator
          in Integrative Medicine)
        </li>
        <li><strong>Ms Miriam Ronagh</strong> (Qualified Dietitian and Senior Industry Consultant in Complementary Medicine for
          over 15 years)
        </li>
        <li><strong>Ms Olga Ischenko</strong> (Naturopath Southern School of Natural Therapies, Melbourne).</li>
      </ul>

      <div>
        <h2>2. Widely trusted by health professionals</h2>
        <p>A trusted, up-to-date resource already utilised by over 9,000 health care professionals from various groups and organisations
          including: -</p>
        <ul>
          <li>University of Sydney, School of Pharmacy and Medicine.</li>
          <li>Regional GP Training Providers.</li>
          <li>The medical staff at the Epworth Healthcare group.</li>
          <li>The Australasian Integrative Medicine Association.</li>
          <li>The Australian Natural Therapists Association.</li>
          <li>Hospital and Retail Pharmacists.</li>
        </ul>
      </div>

      <div>
        <h2>3.Extensive</h2>
        <ul>
          <li>Information from over 700 medical and complementary medicine journals, summarised into clear, concise monographs
            (documents).
          </li>
          <li>3,000 pages of information on numerous conditions, supplements, drugs and nutrient depletions.</li>
          <li>800 supplement-drug, herb-drug and food-drug interaction reports, brought to you in partnership with the University
            of Sydney, School of Pharmacy.
          </li>
          <li>Over 100 Patient Information Sheets on a broad range of conditions, herbs, supplements and treatment options.
          </li>
          <li>e-Learning modules on a range of products and conditions, reviewed by an expert editorial committee for relevance,
            quality and accuracy.
          </li>
        </ul>
      </div>
      <div>
        <h2>4.Unbiased</h2>
        <p>Since its inception, IMgateway's editorial board has received no financial support from any pharmaceutical or manufacturing
          companies.
        </p>
      </div>
      <div>
        <h2>5. Efficient</h2>
        <p>Easily searchable content with indexed results. Private Label product level interactions for fast answers. Traffic
          light system for easily identifiable interactions and recommendations. News feed summarised with click through
          link to original source article. Comprehensive pharmaceutical drug database with search by brand name or generic.
          Hyperlinks within content and side bar with relevant links for fast navigation. One stop shop product directory
          for major supplier partners and their products.
        </p>
      </div>
      <div>
        <h2>6.Award Winning:</h2>
        <div style="width:220px; text-align:center;float:left; margin-right: 5px;">
          <img src="/assets/img/about/iaward-2013.png" alt="" />
        </div>
        <div class="about-desc">
          IMgateway has also been awarded the 2013 National Winner of the Health Category at the ICT (Information and Communication
          Technology) iAwards. Read <a target="_blank" style="text-decoration:underline;" href="http://connect.itherapeutics.com.au/p24967254/">more</a>
        </div>
      </div>

      <div style="clear:both;"></div>
      <div>

        <div>
          <h3>Advertising Policy</h3>
          <p>IMgateway is committed to ensuring editorial integrity and independence. The development of our editorial content
            is free from advertiser bias and is not influenced by commercial interests. IMgateway will not accept advertising
            that is known to contain false or misleading claims. Nor will we accept advertisements that promote pornography,
            sexism, racism, violence, firearms, alcohol or tobacco products. The IMgateway professional databases and information
            can be uploaded or integrated into any third party software program.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
