<div class="owl-carousel-v1 owl-work-v1 margin-bottom-20">
			            <div class="headline"><h2 id="featured" class="pull-left">Featured Modules</h2> <!-- to be parameterized-->
			                <div class="owl-navigation">
			                    <div class="customNavigation">
			                        <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
			                        <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
			                    </div>
			                </div><!--/navigation-->
			            </div>
<!-- fetaured modules-->

                   </div>
